:root {
    --bg-color: rgb(17, 17, 27);
  }
  
  body {
    font-family: 'Excon', sans-serif;
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding:0px;
  }
  .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px #fff,25vw -41vh 0px 0px #fff,-14vw -49vh 1px 0px #fff,-12vw 45vh 0px 1px #fff,-44vw -33vh 0px 1px #fff,-13vw 41vh 0px 0px #fff,-23vw -24vh 1px 0px #fff,-38vw -27vh 0px 1px #fff,16vw -19vh 0px 0px #fff,28vw 33vh 1px 0px #fff,-49vw -4vh 0px 0px #fff,16vw 32vh 0px 1px #fff,36vw -18vh 1px 0px #fff,-25vw -30vh 1px 0px #fff,-23vw 24vh 0px 1px #fff,-2vw -35vh 1px 1px #fff,-25vw 9vh 0px 0px #fff,-15vw -34vh 0px 0px #fff,-8vw -19vh 1px 0px #fff,44vw 15vh 1px 0px #fff,-40vw 33vh 1px 1px #fff,-43vw 8vh 0px 0px #fff,-48vw -15vh 1px 1px; 
    z-index: -1;
  }
  .bento {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 1249px;
  }
  .box {
    /* background-color: rgba(255, 255, 255, 0.05); */
    background-color: rgba(39, 39, 59, 0.7);
    color: rgb(255,255,255);
    border-radius: 15px;
    border: 1px solid rgba(194, 194, 194, 0.05);
    cursor: pointer;
    transition: 0.3s;
  }
  .wrapper {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    letter-spacing: 1.1px;
  }
  .box h1 {
    color:#fff;
    margin-top:10px;
    margin-bottom:0px;
  }
  .box h2 {
    color:#fff;
    margin-top:0px;
    margin-bottom:0px;
    font-size: 25px;
    font-weight:bold;
  }
  .box h3 {
    color:#fff;
    margin-top:0px;
    margin-bottom:0px;
    font-size: 17px;
    font-weight:bold;
  }
  .box p {
    margin-top:0px;
    margin-bottom:0px;
    font-size: 15px;
    color: #bac2de;
    font-weight: lighter;
  }
  .box strong {
    color: #cba6f7;
  }
  .box span {
    color: #f38ba8;
    font-weight: bold;
  }
  /* Specific Boxes */
  .blog {
    position: relative;
    overflow: hidden;
  }
  .blog img {
    color: #89b4fa;
    width: 110%;
    display: inline-block;
    transform: rotate(10deg) translateY(-10%) translateX(7%);
    z-index: -1;
    transition: 1s;
  }
  .blog:hover img {
    transform: rotate(15deg) translateY(-14%) translateX(8%);
  }
  .blog h2 {
    rotate:-6deg;
    transform: translateY(-10px) translateX(10px);
    transition: 1s;
  }
  .blog:hover h2 {
    rotate:-8deg;
    transform: translateY(-15px) translateX(9px);
  }
  .projects {
    position: relative;
    overflow: hidden;
  }
  .projects img {
    color: #94e2d5;
    width: 100%;
    display: inline-block;
    transform: rotate(-10deg) translateY(-5%) translateX(-21%);
    z-index: -1;
    transition: 1s;
  }
  .projects:hover img {
    transform: rotate(-15deg) translateY(-10%) translateX(-23%);
  }
  .projects h2{
    rotate:4deg;
    transform: translateX(30px);
    transition: 1s;
  }
  .projects:hover h2{
    rotate:5deg;
    transform: translateX(36px);
  }
  .connect {
    text-align: center;
  }
  .connect h2{
    padding-top: 20px;
  }
  /* Hover Effect */
  .box:hover{
    border: 1px rgba(255, 255, 255, 0.2) solid;
    background-color: rgba(30, 30, 46, 0.83);
    transform: translateY(-2px);
  }
  /* Different Type of Boxes */
  .longbox {
    height: 150px;
    width:348px;
  }
  .mediumbox {
    height: 150px;
    width:170px;
  }
  .smallbox{
    height: 150px;
    width:81px;
  }
  .smallbox p{
    font-size: 12px;
  }
  /* Media Queries */
  @media (min-width: 622px) {
    .bento {
      gap: 15px;
      max-width: 1249px;
    }
    .box {
      cursor: pointer;
    }
    .longbox {
      height: 260px;
      width:615px;
    }
    .mediumbox {
      height: 260px;
      width:300px;
    }
    .smallbox{
      height: 260px;
      width:140px;
    }
    .bg{
      box-shadow: -42vw -4vh 0px 0px #fff,25vw -41vh 0px 0px #fff,34vw -26vh 1px 0px #fff,-14vw -49vh 1px 0px #fff,-12vw 45vh 0px 1px #fff,-44vw -33vh 0px 1px #fff,-13vw 41vh 0px 0px #fff,-36vw -11vh 0px 1px #fff,-23vw -24vh 1px 0px #fff,-38vw -27vh 0px 1px #fff,16vw -19vh 0px 0px #fff,28vw 33vh 1px 0px #fff,-49vw -4vh 0px 0px #fff,16vw 32vh 0px 1px #fff,36vw -18vh 1px 0px #fff,-25vw -30vh 1px 0px #fff,-23vw 24vh 0px 1px #fff,-2vw -35vh 1px 1px #fff,-25vw 9vh 0px 0px #fff,-15vw -34vh 0px 0px #fff,-8vw -19vh 1px 0px #fff,-20vw -20vh 1px 1px #fff,42vw 50vh 0px 1px #fff,-32vw 10vh 1px 0px #fff,-23vw -17vh 0px 0px #fff,44vw 15vh 1px 0px #fff,-40vw 33vh 1px 1px #fff,-43vw 8vh 0px 0px #fff,-48vw -15vh 1px 1px #fff,-24vw 17vh 0px 0px #fff,-31vw 50vh 1px 0px #fff,36vw -38vh 0px 1px #fff,-7vw 48vh 0px 0px #fff,15vw -32vh 0px 0px #fff,29vw -41vh 0px 0px #fff,2vw 37vh 1px 0px #fff,7vw -40vh 1px 1px #fff,15vw 18vh 0px 0px #fff,25vw -13vh 1px 1px #fff,-46vw -12vh 1px 1px #fff,-18vw 22vh 0px 0px #fff,23vw -9vh 1px 0px #fff,50vw 12vh 0px 1px #fff,45vw 2vh 0px 0px #fff,14vw -48vh 1px 0px #fff,23vw 43vh 0px 1px #fff,-40vw 16vh 1px 1px #fff,20vw -31vh 0px 1px #fff,-17vw 44vh 1px 1px #fff,18vw -45vh 0px 0px #fff,33vw -6vh 0px 0px #fff,0vw 7vh 0px 1px #fff,-10vw -18vh 0px 1px #fff,-19vw 5vh 1px 0px #fff,1vw 42vh 0px 0px #fff,22vw 48vh 0px 1px #fff,39vw -8vh 1px 1px #fff,-6vw -42vh 1px 0px #fff,-47vw 34vh 0px 0px #fff,-46vw 19vh 0px 1px #fff,-12vw -32vh 0px 0px #fff,-45vw -38vh 0px 1px #fff,-28vw 18vh 1px 0px #fff,-38vw -46vh 1px 1px #fff,49vw -6vh 1px 1px #fff,-28vw 18vh 1px 1px #fff,10vw -24vh 0px 1px #fff,-5vw -11vh 1px 1px #fff,33vw -8vh 1px 0px #fff,-16vw 17vh 0px 0px #fff,18vw 27vh 0px 1px #fff,-8vw -10vh 1px 1px #fff;
    }
    .wrapper {
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      letter-spacing: 1.2px;
    }
    .box h1 {
      color:#fff;
      margin-top:60px;
      margin-bottom:0px;
      font-weight: bolder;
      font-size: 50px;
    }
    .box h2 {
      color:#fff;
      margin-top:0px;
      margin-bottom:0px;
      font-size: 45px;
      font-weight:bold;
    }
    .box h3 {
      color:#fff;
      margin-top:0px;
      margin-bottom:0px;
      font-size: 25px;
      font-weight:bold;
    }
    .box p {
      margin-top:0px;
      margin-bottom:0px;
      font-size: 18px;
      color: #bac2de;
      font-weight: lighter;
    }
    
  }