  
  .bento {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 1249px;
  }
  .box {
    /* background-color: rgba(255, 255, 255, 0.05); */
    background-color: rgba(39, 39, 59, 0.7);
    color: rgb(255,255,255);
    border-radius: 15px;
    border: 1px solid rgba(194, 194, 194, 0.05);
    cursor: pointer;
    transition: 0.3s;
  }
  .wrapper {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    letter-spacing: 1.1px;
  }
  .box h1 {
    color:#fff;
    margin-top:10px;
    margin-bottom:0px;
  }
  .box h2 {
    color:#fff;
    margin-top:0px;
    margin-bottom:0px;
    font-size: 25px;
    font-weight:bold;
  }
  .box h3 {
    color:#fff;
    margin-top:0px;
    margin-bottom:0px;
    font-size: 17px;
    font-weight:bold;
  }
  .box p {
    margin-top:0px;
    margin-bottom:0px;
    font-size: 15px;
    color: #bac2de;
    font-weight: lighter;
  }
  .box strong {
    color: #cba6f7;
  }
  .box span {
    color: #f38ba8;
    font-weight: bold;
  }
  /* Specific Boxes */
  .blog {
    position: relative;
    overflow: hidden;
  }
  .blog img {
    color: #89b4fa;
    width: 110%;
    display: inline-block;
    transform: rotate(10deg) translateY(-10%) translateX(7%);
    z-index: -1;
    transition: 1s;
  }
  .blog:hover img {
    transform: rotate(15deg) translateY(-14%) translateX(8%);
  }
  .blog h2 {
    rotate:-6deg;
    transform: translateY(-10px) translateX(10px);
    transition: 1s;
  }
  .blog:hover h2 {
    rotate:-8deg;
    transform: translateY(-15px) translateX(9px);
  }
  .projects {
    position: relative;
    overflow: hidden;
  }
  .projects img {
    color: #94e2d5;
    width: 100%;
    display: inline-block;
    transform: rotate(-10deg) translateY(-5%) translateX(-21%);
    z-index: -1;
    transition: 1s;
  }
  .projects:hover img {
    transform: rotate(-15deg) translateY(-10%) translateX(-23%);
  }
  .projects h2{
    rotate:4deg;
    transform: translateX(30px);
    transition: 1s;
  }
  .projects:hover h2{
    rotate:5deg;
    transform: translateX(36px);
  }
  .connect {
    text-align: center;
  }
  .connect h2{
    padding-top: 20px;
  }
  /* Hover Effect */
  .box:hover{
    border: 1px rgba(255, 255, 255, 0.2) solid;
    background-color: rgba(30, 30, 46, 0.83);
    transform: translateY(-2px);
  }
  /* Different Type of Boxes */
  .longbox {
    height: 150px;
    width:348px;
  }
  .mediumbox {
    height: 150px;
    width:170px;
  }
  .smallbox{
    height: 150px;
    width:81px;
  }
  .smallbox p{
    font-size: 12px;
  }
  /* Media Queries */
  @media (min-width: 622px) {
    .bento {
      gap: 15px;
      max-width: 1249px;
    }
    .box {
      cursor: pointer;
    }
    .longbox {
      height: 260px;
      width:615px;
    }
    .mediumbox {
      height: 260px;
      width:300px;
    }
    .smallbox{
      height: 260px;
      width:140px;
    }
    .wrapper {
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      letter-spacing: 1.2px;
    }
    .box h1 {
      color:#fff;
      margin-top:60px;
      margin-bottom:0px;
      font-weight: bolder;
      font-size: 50px;
    }
    .box h2 {
      color:#fff;
      margin-top:0px;
      margin-bottom:0px;
      font-size: 45px;
      font-weight:bold;
    }
    .box h3 {
      color:#fff;
      margin-top:0px;
      margin-bottom:0px;
      font-size: 25px;
      font-weight:bold;
    }
    .box p {
      margin-top:0px;
      margin-bottom:0px;
      font-size: 18px;
      color: #bac2de;
      font-weight: lighter;
    }
    
  }